/* font styles */
.title {
  font-size: 13vw;
  margin-top: 10vw;
}
.main {
  font-size: 8vw;
}
.secondary {
  font-size: 3vw;
}
.description {
  font-size: 1.75vw;
}

/* objs */
.panel {
  background-image: url("./images/panel_small.png");
}
.panel > * {
  width: 29%;
  display: flex;
  justify-content: center;
  margin: 30px;
}
.panel-info {
  display: none;
}
.button {
  width: 20vw;
  height: 20vw;
  border-radius: 10vw;
}
.home .button {
  bottom: 50px;
}
#start {
  display: none;
}