:root {
  --primary-color: #57CC99;
  --light-color: #FAFAFA;
  --dark-color: #262B37;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
}

/* colors */
.primary-color {
  color: var(--primary-color);
}
.light-color {
  color: var(--light-color);
}
.dark-color {
  color: var(--dark-color);
}
.primary-color-bg {
  background-color: var(--primary-color);
}
.light-color-bg {
  background-color: var(--light-color);
}
.dark-color-bg {
  background-color: var(--dark-color);
}


/* universal */
.title {
  margin-left: 10vw;
  font-weight: 200;
  font-size: 6vw;
  margin-top: 5vh;
}
.lg {
  font-weight: 500;
  white-space: nowrap;
  font-size: 2.75vw;
}
.med {
  font-weight: 250;
  font-size: 3vw;
}
.med-sm {
  font-weight: 200;
  font-size: 2vw;
}
.sm {
  font-weight: 100;
  font-size: 1.6vw;
}
.lg-btn {
  width: 13vw;
  height: 4vw;
}
.med-btn {
  width: 10vw;
  height: 2.75vw;
}
.sm-btn {
  width: 5vw;
  height: 2.5vw;
}
.hide-desktop {
  display: none;
}
.button {
  border: none;
  border-radius: 5vw;
  transition: all 0.1s ease-in-out;
}
  .button:hover {
    transform: scale(1.03);
    cursor: pointer;
  }
.button-disabled {
  background-color: #E0E0E0;
  cursor: default;
  pointer-events: none;
}

/* home */
.home {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
  .home .button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 22vw;
    height: 10vh;
    bottom: 60px;
  }
    .home .button:hover {
      transform: scale(1.03) translateX(-49%);
    }
  .home .panel {
    margin: 10px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-repeat: round;
    background-size: cover;
    background-image: url("./images/panel_large.png");
  }
    .home .panel > * {
      width: 29%;
      margin: 45px;
      display: flex;
      justify-content: center;
    }
    .home .panel .secondary {
      margin-bottom: 1vw;
    }
  .home .panel-info {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

/* digitize */
  .digitize-panel {
    /* width: 50%; */
    width: max(50%, calc(100vw - calc(100vh - 4vw)));
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 4vw 4vw 0;
    z-index: 1;
    /* large shadow */
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.25);
  }
  .digitize .button {
    margin: 2vw;
  }
  .digitize .button-panel {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .digitize #video {
    width: min(100vw, 100vh);
    height: min(100vw, 100vh);
    position: absolute;
    right: 0;
    transform: scaleX(-1);
    pointer-events: none;
  }
  .digitize #face-editor {
    width: 40vh;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #E0E0E0;
  }
  .digitize .face-square {
    width: 30%;
    height: 30%;
  }
  .digitize .face-square:hover {
    cursor: pointer;
  }
  .digitize #progress-bar {
    width: 90%;
    height: 2vw;
    display: flex;
    position: relative;
    align-items: center;
    /* justify-content: center; */
    /* border */
    border-radius: 5vw;
    border: 3px solid var(--dark-color);
  }
  .digitize #progress-bar-bg {
    width: 50%;
    height: 100%;
    border-radius: 5vw;
    background-color: #57CC99;
  }
  .digitize #progress-circles {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .digitize .progress-circle {
    height: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5vw;
    border: 3px solid var(--dark-color);
    background-color: var(--light-color);
  }